@charset "UTF-8";

/*所有网站的公共样式初始化模块
------------------------------------------------------------------------------------------*/

/*样式初始化*/
html, body { width: 100%; height: 100%; }
body, h1, h2, h3, h4, h5, h6, p, ul, li, input, form { margin: 0; padding: 0;}

a  { text-decoration: none; }
ul { list-style: none; }


/*左右浮动*/
.fl { float: left;}
.fr { float: right;}

/*清除浮动*/
.clearFix { zoom: 1; }
.clearFix:after { content: ''; display: block; height: 0; visibility: hidden; clear: both; }

/*增加下划线*/
.hov-line:hover { text-decoration: underline; }

/*弹性布局*/
.flex { display: flex; display: -webkit-flex; justify-content: center; align-items: center; }


/*--------文本隐藏特效--------------
1.clip直接不显示
2.ellipsis显示...
-----------------------------------*/
.clip{text-overflow: clip;}
.ellipsis{text-overflow: ellipsis;}
